.projectHeader {
  text-align: center;
}

.projectCard {
  width: inherit;
  height: auto;
  border-radius: 5px;
}

.cardImg {
  width: 100%;
  height: auto;
  background-color: black;
}

.cardBody {
  flex: 1 1 auto;
  padding: 1rem;
}

.techUsed {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0.2rem;
  border-radius: 20px;
  background: #386163;
}
.techUsed img {
  width: 10%;
  height: auto;
}

.cardFooter {
  padding: 0.5rem 1rem;
}

.textCenter {
  text-align: center;
}