.introductionImg img {
  width: 100%;
  height: auto;
  border-radius: 50rem;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

a {
  color: inherit;
  text-decoration: none;
}

.emailContact {
  background: rgb(56, 97, 99);
  padding: 0.2rem 0.7rem;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.work {
  background-color: #ff5403;
  border: none;
  min-width: 6rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.contact {
  border: none;
  min-width: 6rem;
  margin: 0.5rem;
  border-radius: 5px;
  width: 0rem;
}

.socialIcon {
  color: #FFF;
  font-size: 2rem;
  margin: 0px 2%;
}